/* SUMMARY
1. GLOBAL
2. LAYOUT
3. SECTION
4. CARD
*/

/*** 1. GLOBAL ***/

/* Reset / Normalize
============================= */

/* Smooth scrolling on html element */
html {
  scroll-behavior: smooth;
}
